@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 80%;
    grid-template-columns: 1fr 80%;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    color: white;
    padding: 30px;
    grid-area: 1 / 1 / 3 / 2;
    z-index: 1;
}

.sb-logo-grid {
    display: grid;
    grid-template-rows: 15px 6px 15px;
    grid-template-columns: 25px 25px;
    gap: 6px;
}

.sb-logo1 {
    grid-area: 1 / 1 / 3 / 2;
    background-color: white;
}

.sb-logo2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
}

.sb-logo3 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: white;
}

.sb-logo4 {
    grid-area: 2 / 2 / 4 / 3;
    background-color: white;
}

.sb-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.sb-nav {
    display: grid;
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: auto;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: start;
    margin-top: 40px;
}

.sb-ctrl {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: auto;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: start;
}

.sb-links {
    display: grid;
    gap: 40px;
}

.home, .profile, .message, .history, .tasks, .group, .settings, .support, .privacy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.buttons-group {
    display: flex;
    gap: 20px;
}

.button {
    background-color: rgb(25, 146, 212);
    color: white;
    border-radius: 20px;
    height: 35px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9em;
}

.profile-icon {
    background-color: #facc15;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
}

.profile-text > h4, .profile-text > h6 {
    margin: 0;
}

.profile-greeting {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-self: start;
}

.profile-main {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 20px;
    font-size: 1.1em;
}

.profile-main > .profile-icon {
    height: 45px;
    width: 45px;
}

.profile-main > p {
    font-weight: bold;
}

.header {
    box-shadow: 0 0 5px 6px rgb(0 0 0 / 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    justify-items: end;
    padding: 20px 60px 20px 60px;
    z-index: 0;
}

.search-bar {
    display: flex;
    gap: 10px;
    align-self: start;
    justify-self: start;
}

input {
    border: none;
    background-color: #f1f5f9;
    border-radius: 20px;
    width: 40vw;
    height: 30px;
}

.main-content {
    background-color: #f1f5f9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.projects-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 300px 300px;
    gap: 20px;
    align-content: center;
}

.extras-grid {
    height: 100%;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 200px;
    align-content: center;
    gap: 20px;
}

.grid-item, .announcements, .trending {
    background-color: #444;
    border: 1px solid pink;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#home-icon, #profile-icon, #message-icon, #history-icon, #tasks-icon, #group-icon, #settings-icon, #support-icon, #privacy-icon {
    fill: white;
    width: 28px;
}

#search-icon, #notification-icon {
    fill: black;
    width: 28px;
}